importFrom(stats, wilcox.test, qnorm, pnorm, var, sd, cov, setNames, cor, p.adjust, optimize, pt, qt, uniroot)
export(delta.calculate)
export(est.power)
export(test.surrogate)
export(delta.calculate.extension)
export(rise.evaluate)
export(rise.screen)
export(test.surrogate.extension)
export(test.surrogate.rise)
export(delta.reml.meta)
export(rise.screen.meta)
export(rise.evaluate.meta)
export(simulate.multi.study.surrogates)
import(dplyr)
import(ggplot2)
import(pbmcapply)
import(cowplot)
import(tidyr)
import(ComplexUpset)
importFrom(ggVennDiagram, ggVennDiagram)
importFrom(stats, median)
importFrom(tibble, enframe)
